* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
label input {
  margin: 0;
}

label i,
label span {
  line-height: 1;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Intersans-serif";
  src: url(./../webfonts/Inter-VariableFont_opsz\,wght.ttf);
}
.navbar {
  background-color: #fdfdfe;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  margin-bottom: 100px;
}
.bg-button {
  background: linear-gradient(
    to right,
    oklch(0.541 0.281 293.009) 0%,
    oklch(0.511 0.262 276.966) 100%
  );
}
:root {
  --main-color: #6333f9;
  --second-color: #364153;
  --bg-color: #fffbea;
}
.specifyfont {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: oklch(0.551 0.027 264.364);
}
.iconnav {
  font-size: 15px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.imgnav {
  width: 44px;
  height: 44px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.book {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 15px;
  background-color: var(--main-color);
  box-shadow: 0 8px 20px #f7f7f7;
}
.navbar-nav .nav-item:hover .nav-link .iconnav {
  background-color: #f3f4f6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* **************startmain******************* */
#main {
  background: #f8fafc;
  padding: 75px 0px;
  height: 100dvh;
}
.fa-users,
.starcolor,
.heartcolor {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 15px;
  box-shadow: 0 8px 20px #f7f7f7;
}
.fa-users {
  background: linear-gradient(
    to right bottom,
    oklch(0.623 0.214 259.815) 0%,
    oklch(0.546 0.245 262.881) 100%
  );
}
.starcolor {
  background: linear-gradient(
    to right bottom,
    oklch(0.828 0.189 84.429) 0%,
    oklch(0.705 0.213 47.604) 100%
  );
}
.heartcolor {
  background: linear-gradient(
    to right bottom,
    oklch(0.645 0.246 16.439) 0%,
    oklch(0.577 0.245 27.325) 100%
  );
}
.col-main {
  border: 3px solid rgb(243, 244, 246);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.book-main{
    font-size: 30px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
    color: #D1D5DC;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.spansize{
    font-size:11px ;
    font-weight:400 ;
    line-height: 17px;
    color: oklch(0.551 0.027 264.364)
;
}
.inner{
    overflow: hidden;
    border-radius: 15px;
}

.top{
    background-color: #FFF8ED;
    padding: 20px;
}

.bottom{
    padding: 20px;
}

/* *************startcard***************** */

#contactModal {
  display: none;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-box {
  width: 550px;
  max-height: 90vh;
  overflow-y: auto;
  background: #fff;
  border-radius: 20px;
}

.modal-header {
  padding: 25px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.modal-body {
  padding: 25px;
}

.modal-body input,
.modal-body select,
.modal-body textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 20px;
}

.modal-body textarea {
  height: 100px;
  resize: none;
}

.avatar {
  width: 100px;
  height: 100px;
  background: linear-gradient(#4f8cff,#2162ff);
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar i {
  color: white;
  font-size: 35px;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.photo-btn {
  margin-top: 15px;
  background-color: #E5E7EB;
}
.photo-btn:hover{
  background-color: #E5E7EB;
}

.checks {
  display: flex;
  gap: 30px;
  margin: 25px 0;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 12px;
}
.save-btn {
  background: #6c3cf0;
  color: white;
}
.modal-box{
  width: 550px;
  max-height: 90vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.modal-box::-webkit-scrollbar{
  display: none;
}

.top-cardsinner img{
    width:56px;
    height:56px;
    object-fit:cover;
    border-radius:20px;
    display:block;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.maincards{
  background: #fff;
    border: 1px solid #e5e7eb;
    border-radius:20px;
    overflow:hidden;
}
.bottom-card{
  background-color: rgba(249, 250, 251, 0.8);
      border-top:1px solid #eee;

  
}
.opinion{
  background:#f3e8ff;
color:#7c3aed;
padding:6px ;
border-radius:8px;
font-size: 13px;
}
.greencol{
  width: 35px;
  height: 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D0FAE5;
  color: #009966;
}
.burcolor{
  width: 35px;
  height: 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDE9FE;
  color: #7F22FE;

}


